<div id="action modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box is-fluid">
            <section class="hero">
                <div class="hero-body">
                    <p class="title" id="tips1-1">The operation is in progress</p>
                    <p class="subtitle" id="tips1-2">Wait patiently for the flowers to bloom; do not rush.</p>
                    <progress class="progress" id="action modal progress"></progress>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
            website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>