<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item px-4" href="../index.html" title="回到首页">
            <figure class="image is-32x32">
                <img class="is-rounded" src="../assets/images/favicon-32x32.png" />
            </figure>
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="../index.html">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span id="home">Home</span>
                </span>
            </a>

            <a class="navbar-item" href="../traffic.html">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-dashboard"></i>
                    </span>
                    <span id="traffic">Traffic</span>
                </span>
            </a>

            <a class="navbar-item" href="../sms.html">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span id="sms">SMS</span>
                </span>
            </a>

            <a class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-wifi"></i>
                    </span>
                    <span id="wifi">Wifi</span>
                </span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-wrench"></i>
                        </span>
                        <span id="settings">More</span>
                    </span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="notification mx-4 my-4">
    <button class="delete"></button>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor.
    <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec
    nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam,
    et dictum <a>felis venenatis</a> efficitur.
</div>